<ion-header [translucent]="true">
  <ion-toolbar color="primary">
  <ion-title style="text-align: center;">
    Modificar Publicacion
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
 
    <ion-card-header>
   
      <ion-card-title><h1>Ingrese publicación</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioPublicacion" > 
        <ion-item>
          <ion-label position="floating"><ion-icon name="attach"></ion-icon> Url imagen</ion-label>
          <ion-input formControlName="publicacion" type="url" [(ngModel)]="publicacion.publicacion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"><ion-icon name="create-outline"></ion-icon> Descripción</ion-label>
          <ion-input formControlName="descripcion" [(ngModel)]="publicacion.descripcion"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-segment [(ngModel)]="relationship" color="primary">
        <ion-segment-button (click)="pub()" value="registrar"  >
          Crear Publicacion
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>

</ion-content>
